/* ====== NavProject ======= */

.nav-img {
    width: 50px;
    margin-right: .5em;
}

.nav-container-project {
    margin: 0 1em !important;
}

.nav-item:hover {
    cursor: pointer;
    text-decoration: none;
}
