.Github-section, .git-infos, .git-img {
    padding: 0 !important;
}

.Github-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 1033 !important; 

}

.git-row  {
    top: 0;
    right: 40px;

}

.git-infos {
    font-size: 15px;

    .git-title {
        color: white;
    }

    .git-link {
        text-decoration: underline;
        color: #27D7B7;
        
    }

    .git-link:hover {
        cursor: pointer;
        color: white;
    }
}



