.Header {
    height: 100px;
    width: 100%;
    // position: fixed;
}



// 1200px 
@media screen and (max-width: 1200px) {
    .Header {
        top:0;
        // height: 400px;

    }
}


@media screen and (max-width: 1000px) {
    .Header {
        top:0;
    }
}

@media screen and (max-width: 770px) {
    .Header {
        background: none;
        // height: 250px;

    }
}
