.navbar {
    background-color: rgba(43, 109, 157, 1);
    padding-bottom: 1.5em !important;
}

.navbar-nav {
    width: 100%;
    a {
        color: white !important;

    }
}


.nav {
    width: 50%
}
button.navbar-toggler {
    background-color: white !important;
    border-radius: 50px;
    margin-top: 10px;
}
